src/main/resources/GetPremium.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:import namespace="http://microsoft.com/wsdl/types/" />
            <s:element name="GetReAssuredPlanId">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="coverType" type="s:string" />
                        <s:element minOccurs="1" maxOccurs="1" name="planLimit" type="s:int" />
                        <s:element minOccurs="0" maxOccurs="1" name="cityName" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="stateName" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="hcbOpted" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="paOpted" type="s:string" />
                        <s:element minOccurs="1" maxOccurs="1" name="adultCover" type="s:int" />
                        <s:element minOccurs="1" maxOccurs="1" name="childCover" type="s:int" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetReAssuredPlanIdResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetReAssuredPlanIdResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPremiumForReAssuredProduct">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="planId" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="dobCollection" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="loadingCollection" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="paCollection" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="safeGaurdOpted" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="discount" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="MedicalPractDiscount" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="billCycle" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="stateName" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="branchCode" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="premiumCalDate" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="policyNumber" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetPremiumForReAssuredProductResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetPremiumForReAssuredProductResult" type="tns:ReAssuredProductResponse" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetReAssuredPlanIdSoapIn">
        <wsdl:part name="parameters" element="tns:GetReAssuredPlanId" />
    </wsdl:message>
    <wsdl:message name="GetReAssuredPlanIdSoapOut">
        <wsdl:part name="parameters" element="tns:GetReAssuredPlanIdResponse" />
    </wsdl:message>
    <wsdl:message name="GetPremiumForReAssuredProductSoapIn">
        <wsdl:part name="parameters" element="tns:GetPremiumForReAssuredProduct" />
    </wsdl:message>
    <wsdl:message name="GetPremiumForReAssuredProductSoapOut">
        <wsdl:part name="parameters" element="tns:GetPremiumForReAssuredProductResponse" />
    </wsdl:message>
    <wsdl:portType name="GetProductPricesSoap">
        <wsdl:operation name="GetReAssuredPlanId">
            <wsdl:input message="tns:GetReAssuredPlanIdSoapIn" />
            <wsdl:output message="tns:GetReAssuredPlanIdSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="GetPremiumForReAssuredProduct">
            <wsdl:input message="tns:GetPremiumForReAssuredProductSoapIn" />
            <wsdl:output message="tns:GetPremiumForReAssuredProductSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GetProductPricesSoap" type="tns:GetProductPricesSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetReAssuredPlanId">
            <soap:operation soapAction="http://tempuri.org/GetReAssuredPlanId" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPremiumForReAssuredProduct">
            <soap:operation soapAction="http://tempuri.org/GetPremiumForReAssuredProduct" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GetProductPricesSoap12" type="tns:GetProductPricesSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetReAssuredPlanId">
            <soap12:operation soapAction="http://tempuri.org/GetReAssuredPlanId" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetPremiumForReAssuredProduct">
            <soap12:operation soapAction="http://tempuri.org/GetPremiumForReAssuredProduct" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetProductPrices">
        <wsdl:port name="GetProductPricesSoap" binding="tns:GetProductPricesSoap">
            <soap:address location="http://serviceuat.maxbupa.com/GetProductPricesV2/GetProductPrices.asmx" />
        </wsdl:port>
        <wsdl:port name="GetProductPricesSoap12" binding="tns:GetProductPricesSoap12">
            <soap12:address location="http://serviceuat.maxbupa.com/GetProductPricesV2/GetProductPrices.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>