src/main/resources/Libra.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="Libra_WebsiteCollectionDetails">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="WebsiteXML" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="Libra_WebsiteCollectionDetailsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="Libra_WebsiteCollectionDetailsResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="SecuredWebServiceHeader" type="tns:SecuredWebServiceHeader" />
            <s:complexType name="SecuredWebServiceHeader">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
                    <s:element minOccurs="0" maxOccurs="1" name="AuthenticatedToken" type="s:string" />
                </s:sequence>
                <s:anyAttribute />
            </s:complexType>
            <s:element name="InsertOnlineTransactionAgentsDetails">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AgentXML" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="InsertOnlineTransactionAgentsDetailsResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="InsertOnlineTransactionAgentsDetailsResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="AuthenticateUser">
                <s:complexType />
            </s:element>
            <s:element name="AuthenticateUserResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="Libra_WebsiteCollectionDetailsSoapIn">
        <wsdl:part name="parameters" element="tns:Libra_WebsiteCollectionDetails" />
    </wsdl:message>
    <wsdl:message name="Libra_WebsiteCollectionDetailsSoapOut">
        <wsdl:part name="parameters" element="tns:Libra_WebsiteCollectionDetailsResponse" />
    </wsdl:message>
    <wsdl:message name="Libra_WebsiteCollectionDetailsSecuredWebServiceHeader">
        <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
    </wsdl:message>
    <wsdl:message name="InsertOnlineTransactionAgentsDetailsSoapIn">
        <wsdl:part name="parameters" element="tns:InsertOnlineTransactionAgentsDetails" />
    </wsdl:message>
    <wsdl:message name="InsertOnlineTransactionAgentsDetailsSoapOut">
        <wsdl:part name="parameters" element="tns:InsertOnlineTransactionAgentsDetailsResponse" />
    </wsdl:message>
    <wsdl:message name="InsertOnlineTransactionAgentsDetailsSecuredWebServiceHeader">
        <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
    </wsdl:message>
    <wsdl:message name="AuthenticateUserSoapIn">
        <wsdl:part name="parameters" element="tns:AuthenticateUser" />
    </wsdl:message>
    <wsdl:message name="AuthenticateUserSoapOut">
        <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
    </wsdl:message>
    <wsdl:message name="AuthenticateUserSecuredWebServiceHeader">
        <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
    </wsdl:message>
    <wsdl:portType name="Service1Soap">
        <wsdl:operation name="Libra_WebsiteCollectionDetails">
            <wsdl:input message="tns:Libra_WebsiteCollectionDetailsSoapIn" />
            <wsdl:output message="tns:Libra_WebsiteCollectionDetailsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="InsertOnlineTransactionAgentsDetails">
            <wsdl:input message="tns:InsertOnlineTransactionAgentsDetailsSoapIn" />
            <wsdl:output message="tns:InsertOnlineTransactionAgentsDetailsSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="AuthenticateUser">
            <wsdl:input message="tns:AuthenticateUserSoapIn" />
            <wsdl:output message="tns:AuthenticateUserSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Libra_WebsiteCollectionDetails">
            <soap:operation soapAction="http://tempuri.org/Libra_WebsiteCollectionDetails" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header message="tns:Libra_WebsiteCollectionDetailsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertOnlineTransactionAgentsDetails">
            <soap:operation soapAction="http://tempuri.org/InsertOnlineTransactionAgentsDetails" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header message="tns:InsertOnlineTransactionAgentsDetailsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthenticateUser">
            <soap:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
                <soap:header message="tns:AuthenticateUserSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Libra_WebsiteCollectionDetails">
            <soap12:operation soapAction="http://tempuri.org/Libra_WebsiteCollectionDetails" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
                <soap12:header message="tns:Libra_WebsiteCollectionDetailsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertOnlineTransactionAgentsDetails">
            <soap12:operation soapAction="http://tempuri.org/InsertOnlineTransactionAgentsDetails" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
                <soap12:header message="tns:InsertOnlineTransactionAgentsDetailsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AuthenticateUser">
            <soap12:operation soapAction="http://tempuri.org/AuthenticateUser" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
                <soap12:header message="tns:AuthenticateUserSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Service1">
        <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
            <soap:address location="http://serviceuat.maxbupa.com/LibraWebsitePaymentServicePB/Service1.asmx" />
        </wsdl:port>
        <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
            <soap12:address location="http://serviceuat.maxbupa.com/LibraWebsitePaymentServicePB/Service1.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>