src/main/resources/Underwriting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="GetUWDecision">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="strXML" type="s:string" />
                        <s:element minOccurs="0" maxOccurs="1" name="AccessKey" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetUWDecisionResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="GetUWDecisionResult" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetUWDecisionSoapIn">
        <wsdl:part name="parameters" element="tns:GetUWDecision" />
    </wsdl:message>
    <wsdl:message name="GetUWDecisionSoapOut">
        <wsdl:part name="parameters" element="tns:GetUWDecisionResponse" />
    </wsdl:message>
    <wsdl:portType name="UWDecisionServiceSoap">
        <wsdl:operation name="GetUWDecision">
            <wsdl:input message="tns:GetUWDecisionSoapIn" />
            <wsdl:output message="tns:GetUWDecisionSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="UWDecisionServiceSoap" type="tns:UWDecisionServiceSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetUWDecision">
            <soap:operation soapAction="http://tempuri.org/GetUWDecision" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="UWDecisionServiceSoap12" type="tns:UWDecisionServiceSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetUWDecision">
            <soap12:operation soapAction="http://tempuri.org/GetUWDecision" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="UWDecisionService">
        <wsdl:port name="UWDecisionServiceSoap" binding="tns:UWDecisionServiceSoap">
            <soap:address location="http://servicesone.maxbupa.com/UWDecisionService_UAT/UWDecisionService.asmx" />
        </wsdl:port>
        <wsdl:port name="UWDecisionServiceSoap12" binding="tns:UWDecisionServiceSoap12">
            <soap12:address location="http://servicesone.maxbupa.com/UWDecisionService_UAT/UWDecisionService.asmx" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>